/* RESET */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #ffffff;
}

/* ===============================
   DESKTOP BORDERED LAYOUT (Urban Company style)
================================ */
.site-wrapper {
  width: 100%;
}

/* Desktop only */
@media (min-width: 1024px) {
  body {
    background: #f4f4f4; /* outside background */
  }

  .site-wrapper {
    max-width: 1800px;
    margin: 0px auto;
    background: #ffffff;

   
    

    overflow: hidden; /* VERY IMPORTANT */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  }
}
