.offers {
    padding: 20px 16px;
}

.offers-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.offers-header h2 {
    font-size: 24px;
    font-weight: 700;
}

.offers-nav button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    font-size: 18px;
}

.offers-nav button:last-child {
    background: #222;
    color: #fff;
    border: none;
    margin-left: 8px;
}

/* SLIDER */
.offers-slider {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.offers-slider::-webkit-scrollbar {
    display: none;
}

/* CARD */
.offer-card {
    min-width: 260px;
    background: #fff;
    border-radius: 25px;
    overflow: hidden;
    border: 2px solid #E6E6E6;
    /* box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08); */
}

.offer-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.offer-content {
    padding: 14px;
}

.offer-content h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins';
}

.offer-content p {
    font-size: 12px;
    color: #777;
    margin: 1px 0px;
}

.offer-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
}

.offer-footer span {
    font-weight: 700;
}

.offer-footer button {
    background: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 4px 10px;
    font-size: 12px;
    cursor: pointer;
}

/* DESKTOP */
@media (min-width: 768px) {
    .offers {
        padding: 80px 40px;
    }

    .offers-header h2 {
        font-size: 32px;
    }

    .offer-card {
        min-width: 300px;
    }
}